<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/users">Users</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
  <li><a href="/settings">Settings</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
<nav class='pink'>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"> Bookstore</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <!-- Dropdown Trigger -->
      {% if g.user.admin %}
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Administration<i class="material-icons right">arrow_drop_down</i></a></li>
      {% endif %}
      <li><a class="dropdown-button" href="#!" data-activates="dropdown2">{{ g.user.username }}<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/settings">Settings</a></li>
      <li><a href="/logout">Logout</a></li>
      {% if g.user.admin %}
      <li class="divider"></li>
      <li><a href="/users">Users</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
